<div class="form-horizontal popup-flip-container" role="form" ng-submit="submitUser()">
    <div class="header-popup">
            <!-- <span class="" type="button" ng-click="cancel()">x</span> -->
            <span class="glyphicon glyphicon-remove" ng-click="cancel()"></span>


    </div>
    <div class="logo-popup">
            <img class="float-left" src="images/logo-black-03.png" alt="לעניין">
    </div>
    <div class="content-popup">
        <p class="spoiler-regular align-right font-s-25">
                מגזין "לעניין" יוצא לאור בירושלים כ-18 שנה,<br>
                בלמעלה מ-<b>45,000</b> עותקים<br>
                ע"ג נייר משובח בגודל 29.5/19.5 ס"מ<br>
                ומחולק בדיוור ישיר ביום שני בכל השכונות החרדיות בירושלים.<br>
                הזמנת ושליחת מודעות עד יום ראשון
                <hr>
                <span class="spoiler-regular align-right font-s-25">
                <b>אזורי חלוקה: </b>
                -----------------------
                .
                </span>
                

        </p>
    </div>


</div>