<div class="form-horizontal popup-flip-container" role="form" ng-submit="submitUser()">
    <div class="header-popup">
            <!-- <span class="" type="button" ng-click="cancel()">x</span> -->
            <span class="glyphicon glyphicon-remove" ng-click="cancel()"></span>


    </div>
    <div class="logo-popup">
            <img class="float-left" src="public/images/logo-black-08.png" alt="אמצע השבוע">
    </div>
    <div class="content-popup">
        <p class="spoiler-regular align-right font-s-25">
                מגזין "לעניין בני ברק" יוצא לאור בבני ברק, כ-?? שנה,<br>
                ב-<b>????</b> עותקים ע"ג נייר כרומו משובח בגודל ????? ס"מ,<br>
                ומחולק בדיוור ישיר במוצאי שבת.<br>
                הזמנה ושליחת מודעות עד יום חמישי בבוקר.<br>
                <hr>
                <span class="spoiler-regular align-right font-s-25">
                <b>אזורי חלוקה: </b>
                כל העיר בני ברק.
                </span>
                

        </p>
    </div>


</div>