<div class="form-horizontal popup-flip-container" role="form" ng-submit="submitUser()">
    <div class="header-popup">
            <button class="btn btn-default" type="button" ng-click="cancel()">x</button>

    </div>
    <div class="logo-popup">
            <img class="over" src="images/emtza_logo.png" alt="אמצע השבוע" class="Plogos center-block" style="max-height: 80px">
    </div>
    <div class="content-popup">
        <p>
                מבשלים בסיר קטן סוכר, דבש, חמאה ושמנת מתוקה עד שהחמאה נמסה והתערובת מגיעה לרתיחה.
                מנמיכים להבה ומבשלים לעוד 2 דקות תוך בעבוע קל להסמכה קלה. מוסיפים שקדים פרוסים ומערבבים,
                מצננים לטמפרטורת החדר.
                מחממים תנור ל-180 מעלות (לא בטורבו). כשהמאפה סיים לתפוח, משטחים עליו בעדינות רבה את ציפוי
                השקדים שהצטנן- כדאי להעביר מעט מתערובת השקדים בכל פעם, ולשטח בעדינות רבה כדי שהמאפה
                התפוח לא יאבד מנפחו. (במידה והציפוי הסמיך והתייצב מדי עד לשלב זה אפשר לחמם אותו מעט שוב
                לריכוך, אבל חשוב שלא יהיה חם למגע בעת הציפוי. במידה ונוצרו בבצק בועות אוויר גדולות מדי, כדאי
                לשטח אותן בעדינות בכף היד לפני שמניחים על המאפה את ציפוי השקדים, על מנת שחלקה העליון של
                העוגה יהיה שטוח ולא מלא בבועות).
                אופים את העוגה 26-22 דקות עד שציפוי השקדים מקבל גוון שזוף ומשגע, בדקות האחרונות לאפייה מומלץ
                בחום לפטרל ליד התנור כי מרגע שהציפוי מתחיל להזהיב תוך כמה דקות הוא מקבל גוון מקורמל
                עז. מצננים היטב. שומרים את העוגה בטמפרטורת החדר מכוסה היטב עד להרכבה.
    
        </p>
    </div>


</div>