<h1>עיתונים אחרונים</h1>

<div>
    <div class="flex-container">
        <div class="flex-item gray h-250 text-center">
            <a href="#"><img src="last-paper/{{lainyan}}" alt="לעניין" class="shlager-black"></a>
        </div>

        <div class="flex-item gray h-250 text-center">
            <a href="#/book">Link Text Here</a>
        </div>

        <div class="flex-item gray h-250 text-center">
            <a href="#"><img src="" alt="אמצע השבוע" class="shlager-black"></a>
        </div>

        <div class="flex-item gray h-250 text-center">
            <a href="#"><img src="" alt="שבוע טוב" class="shlager-black"></a>
        </div>
    </div>
</div>
