<div class="about-main font-s-18 spoiler-regular">
    <div id="g-_-box" class="ai2html ai2html-box-v5">

        <!-- Artboard: Artboard_1 -->
        <div id="g-_-Artboard_1" class="g-artboard" data-aspect-ratio="0.707" data-min-width="595">
            <img id="g-_-Artboard_1-img" class="g-aiImg" src="public/images/odot-01.png" />
            <hr>
            <img id="g-_-Artboard_1-img" class="g-aiImg2" src="public/images/odot-02.png" />

            <div >
                <p class="g-pstyle0">המגזינים "לעניין", "אמצע השבוע", "שבוע טוב" ו"מידע לכל", היוצאים לאור ע"י גל ביתר, מעוצבים במקצועיות רבה,
                    ומודפסים באיכות גבוהה (בבתי דפוס הטובים בארץ, שבין לקוחותיהם נמנים המגזינים הנחשבים ביותר). ונחשבים למובילים
                    והפופולריים ביותר.
                </p>
                <p>&nbsp;</p>
                <p class="g-pstyle0">החלוקה מתבצעת בדיוור ישיר לכל בתי האב בכל השכונות, מידי שבוע, כאשר מיטב ומירב האינפורמציה מועברים דרכם אל
                    תושבי העיר. יש לציין כי מושם דגש מיוחד על דיוק ומקסימליות בזמני החלוקה ובפריסה המלאה שלה, דבר שהביא למצב
                    בו התושבים "מחכים" לעיתון בתיבת הדואר מידי שבוע מחדש.</p>
                <p>&nbsp;</p>
                <p class="g-pstyle1">בירושלים
                    <span class="g-cstyle0">- </span>מגזין
                    <span class="g-cstyle1"> 'לעניין' </span>הוא הפופולרי ביותר בקרב המפרסמים בירושלים, דבר הנובע מהשירות האדיב והמקצועי של צוות המשרד,
                    מהעיצוב ברמה גבוהה של המודעות וכמובן מהחלוקה המקסימלית המקיפה את כל שכונות העיר החרדיות, כולל המעורבות
                    כדוגמת קרית יובל, מגזין זה משמש את התושבים החרדים בירושלים ומביא עד לפתח הבית את כל האינפורמציה הנדרשת
                    למשפחה החרדית.</p>
                <p>&nbsp;</p>
                <p class="g-pstyle0">
                    <span class="g-cstyle2">בביתר ובבית שמש </span>- המגזינים שלנו מציעים לציבור המפרסמים מחירים עממיים, שירות אדיב ומקצועי ומוצר
                    איכותי, כל אלה מפריחים את חיי המסחר וגורמים להידוק הקשר בין בעלי העסקים לתושבים, ולאפקט פרסומי חזק ביותר.
                    יצויין כי רוב הציבור בביתר ובבית שמש אינו מנוי על עיתונים ארציים, יומונים ושבועונים, וזהו המקור היחיד
                    המספק עבורם אינפורמציה ומידע.</p>
                <p>&nbsp;</p>
                <p class="g-pstyle0">בין לקוחותינו המקומיים נמנים מלבד בתי העסק הנבחרים: העירייה, חברות הנסיעות המקומיות, כל קופות החולים, קהילות
                    ובתי כנסת, מארגני שיעורים, מכירות ביתיות ועוד. וכמובן משרדי הפרסום המובילים בארץ, שהבינו את הפוטנציאל
                    העצום הקיים במגזינים אלו. יש לציין, כי מרבית העסקים בביתר ובבית שמש נמנים בין לקוחותינו ומפרסמים אצלנו
                    בלעדית. ניתן לפנות אליהם ע"מ לשמוע על אפקט ועוצמת הפרסום.</p>
                <p>&nbsp;</p>
            </div>
            <div class="float-left">
                <p class="g-pstyle2">נשמח לספק לכם מידע נוסף ולראותכם בין לקוחותינו.</p>
            </div>
            <br>

            <p id="g-ai0-3" class=" float-left">
                <a href="#/contact" class="g-pstyle2">ליצירת קשר לחץ כאן</a>
            </p>
        </div>

    </div>
</div>