.jumbotron {
  background: #ec1f27;
  color: #FFF;
  border-radius: 0px;
  font-family: 'Spoiler-Regular';
  font-size: 18px;
}
.jumbotron-sm {
  padding-top: 24px;
  font-family: 'Spoiler-Regular';
  padding-bottom: 24px;
}
.jumbotron small {
  color: #FFF;
}
.h1 small {
  font-size: 24px;
}
