<div id="contact" class="contact-main Spoiler-Reguler-right">
    <div class="contact">
        <h2>צרו קשר</h2>
        <form class="form-horizontal">
            <div <label for="exampleInputName2">שם פרטי ומשפחה</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="שם פרטי ומשפחה">
            </div>
            <hr>
            <div>
                <label for="exampleInputName2">טלפון ליצירת קשר</label>
                <input type="number" class="form-control" id="exampleInputName2" placeholder="טלפון">
            </div>
            <hr>
            <div>
                <label for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="email@gmail.com">
            </div>
            <hr>
            <div>
                <label for="exampleInputText">ההודעה שלך</label>
                <textarea class="form-control" placeholder="תוכן ההודעה"></textarea>
            </div>
            <hr>
            <button type="submit" class="btn-lg btn btn-danger" id="contact-button">שלח הודעה</button>
        </form>

    </div>
    <div class="adress">
        <h2>הכתובת שלנו</h2>
    </div>
</div>