<div class="form-horizontal popup-flip-container" role="form" ng-submit="submitUser()">
    <div class="header-popup">
            <!-- <span class="" type="button" ng-click="cancel()">x</span> -->
            <span class="glyphicon glyphicon-remove" ng-click="cancel()"></span>


    </div>
    <div class="logo-popup">
            <img class="float-left" src="public/images/logo-black-04.png" alt="מידע לכל">
    </div>
    <div class="content-popup">
        <p class="spoiler-regular align-right font-s-25">
                מגזין "מידע לכל" יוצא לאור בבית שמש, כ-23 שנה,<br>
                בלמעלה מ-<b>12,000</b> עותקים<br>
                ע"ג נייר כרומו משובח בגודל 25/17 ס"מ.<br>
                ומחולק בדיוור ישיר בימי שני בערב.<br>
                הזמנת ושליחת מודעות עד יום ראשון בבוקר.
                <hr>
                <span class="spoiler-regular align-right font-s-25">
                <b>אזורי חלוקה: </b>
                _______________
                </span>
                

        </p>
    </div>


</div>