<div class="padd-5 grayOr">
    <div class="order-main">
        <div class="order-con">

            <h2><label class="Spoiler-Bold" for="">תוכן הפרסום</label></h2>
            <h5 class="Spoiler-Regular">מלאו בתיבה זאת את המידע שאתם רוצים שיופיע בפרסום:</h5>

            <textarea class="form-control marg-top" ng-model="contact.addContent" placeholder="תוכן הפרסום" required></textarea>
            <h4> <label class="Spoiler-Bold marg-top" for="">הערות</label></h4>
            <textarea class="form-control" ng-model="order.remarks" placeholder="הערות"></textarea>

        </div>

        <div class="order-det">
            <div class="form-group p-type">
                <h4 class="Spoiler-Bold">לפרסום בעיתון הקרוב:</h4>
                <h5 class="Spoiler-Regular">סמן את העיתון/נים הרצויים:</h5>

                <!-- checkbox area -->
                <div class="marg-top">
                    <div ng-repeat="chek in chek">
                        <div ng-include="'view/order/checkboxTemp.html'"></div>
                    </div>
                </div>

                <!-- size area -->
                <div class="checkbox-area">
                    <div class="choose-p">
                        <h4 class="Spoiler-Bold">בחר גודל מודעה:</h4>
                        <select class="form-control" name="selectsize" id="selectsize" ng-model="selectedsize">
                        <option class="Spoiler-black-title font-s-14" value="">-בחר גודל-</option>
                        <option class="shlager-black font-s-14" ng-repeat="size in size" value="{{size}}">{{size}}</option>
                        </select>
                        <hr class="hr">

                    </div>
                </div>

                
                <!-- size area -->
                <div class="checkbox-area">
                    <div class="choose-p">
                        <h4 class="Spoiler-Bold">בחר מיקום:</h4>
                        <select class="form-control" name="selectPlace" id="selectPlace" ng-model="selectPlace">
                        <option class="Spoiler-black-title font-s-14" value="">-בחר מיקום-</option>
                        <option class="shlager-black font-s-14" ng-repeat="place in place" value="{{place}}">{{place}}</option>
                        </select>
                        <hr class="hr">
                    </div>
                </div>

                <div class="checkbox-area">
                        <div class="choose-p">
                                <h4 class="Spoiler-Bold">צירוף מודעה מוכנה/קבצים לפרסום:</h4>
                                <h5 class="arial"> קבצים מסוג: <span class="arial">jpg, pdf, png. word </span> בלבד</h5>
                                <h5 class="arial"><a href="">להוראות סגירת קובץ לחץ כאן</a></h5>
                                <input type="file" ng-file-model="files" class="btn-lg shlager-black" multiple />
                                <!-- <button class="btn" type="button" ng-click="upload()">Upload</button> -->
                        </div>
                    </div>

            





            </div>

        </div>


<div class="user-det">
        <hr class="hr">
        <h2 class="Spoiler-Bold">פרטי המפרסם:</h2>
        <form class="form-horizontal">
                <div>
                    <label for="" class="Spoiler-Regular font-s-18">נא למלא את פרטי המפרסם בכל השדות:</label><br>
                    <input type="text"  class="form-control width-25"  ng-model="order.fname" placeholder="שם פרטי" required>
                    <input type="text"  class="form-control width-25"  ng-model="order.lname" placeholder="שם משפחה" required>
                    <input type="number"  class="form-control width-25"  ng-model="order.phone" placeholder="טלפון" required>
                    <input type="email"  class="form-control width-25"  ng-model="order.email" placeholder="אימייל" required>
                    <br/>
                    <button type="submit" class="btn-lg btn btn-danger float-left marg-top" ng-click="ordersummary()">סיכום הזמנה</button>

                      
                </div>
        </form>
    
</div>


    </div>
</div>