.order-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "order-con order-con order-det order-det" "user-det user-det user-det user-det";
}
.order-con {
  grid-area: order-con;
  padding: 5%;
  background-color: #A4A4A4;
  height: auto;
}
.order-det {
  display: grid;
  grid-area: order-det;
  padding: 5%;
  background-color: #A4A4A4;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "p-type p-type " "add-size add-place" "attach-img attach-img";
}
.p-type {
  grid-area: p-type;
  height: auto;
}
.hr {
  height: 1px;
  background: white;
  border-top: solid 1px white;
  margin-top: 8px;
  margin-bottom: 8px;
}
.checkbox-area {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}
.choose-p {
  width: 55%;
  box-sizing: border-box;
}
.p-times {
  grid-area: p-times;
  height: auto;
}
.add-size {
  grid-area: add-size;
  padding: 15px;
  height: auto;
}
label {
  margin-bottom: 0;
}
.add-place {
  grid-area: add-place;
  padding: 15px;
  height: auto;
}
.user-det {
  grid-area: user-det;
  padding: 5%;
  background-color: #A4A4A4;
  height: auto;
}
.attach-img {
  grid-area: attach-img;
  padding: 5%;
  height: auto;
}
.font-s-20 {
  font-size: 20px;
}
.font-s-18 {
  font-size: 18px;
}
.font-s-14 {
  font-size: 14px;
}
textarea.form-control {
  height: 100px;
}
.big-checkbox {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  padding-right: 20px;
  vertical-align: bottom;
  position: relative;
}
.big-num {
  width: 55px;
  height: 25px;
  background-color: #D2CFCF;
  padding-right: 20px;
  vertical-align: center;
  position: relative;
}
.float-left {
  float: left;
  padding-top: 2px;
}
.right-line {
  border-right: 2px solid white;
}
.clss-label {
  padding-left: 15px;
  padding-left: 4em;
}
#Spoiler-Regular {
  font-family: 'Spoiler-Regular';
  color: black;
}
