@gb-lightGray: rgb(196, 196, 196);

.order-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "order-con order-con  order-con order-det order-det"
    "user-det user-det user-det user-det user-det";
    
    }

.order-con{
    grid-area: order-con;
    padding-top: 15px;
    padding-right: 8%;
    padding-left: 4%;
    background-color: @gb-lightGray;
    height: auto;
    }

.order-det{
    display: grid;
        grid-area: order-det;
        padding-top: 22px;
        padding-right: 8%;
        padding-left: 13%;
        background-color: @gb-lightGray;
        height: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "p-type p-type "
        "add-size add-place"
        "attach-img attach-img";
    
    }

    .p-type{
        grid-area: p-type;
        height: auto;
        
    }

    .hr{
        height: 1px;
        background: white;
        border-top: solid 1px white;
        margin-top: 8px;
        margin-bottom: 8px;

    }



.checkbox-area{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;

}
    .choose-p{
    width: 100%;
    box-sizing: border-box;
    }

    .p-times{
        grid-area: p-times;
        height: auto;
    }
    .add-size{
        grid-area: add-size;
        padding-top: 15px;
        padding-right: 2%;
        padding-left: 2%;
        height: auto;

    }

label{
    margin-bottom: 0;
    font-weight: 10;

}
.user-det{
    h2{
    margin-bottom: -8px;
    }
}

    .add-place{
        grid-area: add-place;
        padding-top: 15px;
        padding-right: 2%;
        padding-left: 2%;
        height: auto;
    }
    .user-det{
        grid-area: user-det;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 2%;
        background-color: @gb-lightGray;
        height: auto;
    }    
    .attach-img{
        grid-area: attach-img;
        padding: 5%;
        height: auto;
    }
    .font-s-20{
        font-size: 20px;
    }
    .font-s-18{
        font-size: 18px;
    }
      .font-s-14{
        font-size: 14px;
    }

    .font-s-16{
        font-size: 16px;
    }
    textarea.form-control {
        height:17%;
      }
      
      textarea.marg-top {
        height:60%;
      }

      input[type=file]{
          margin-top: 5px;
          width: 100%;
          background-color: white;
          padding: 5px;
          border-radius: 0px;
      }

.big-checkbox {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    padding-right: 20px;
    vertical-align: bottom;
    position: relative;

}
.form-control {
    display: inline-flex;
    border-radius: 0;
    margin: 0;
    border: 0;
    height: 45px;
  }
  
.big-num {
    width: 55px;
    height: 25px;
    background-color: #D2CFCF;
    padding-right: 20px;
    vertical-align: center;
    position: relative;
}

    .float-left{
        float:left;
        padding-top: 2px;
    }
    .right-line{
    border-right: 2px solid white;
    }

 .clss-label {
//   display: block;
  padding-left: 15px;
  padding-left:4em; 
  
//   text-indent: -15px;
}

#Spoiler-Regular {
    font-family: 'Spoiler-Regular';
    color: black;
}


.width-25{
    width: 25%;
    float: right;


}


@media only screen and (min-width: 320px) {

    .font-s-20 {
        font-size: 15px;
      }
      .font-s-18 {
        font-size: 13px;
      }
      .font-s-14 {
        font-size: 10px;
      }
      .font-s-16 {
        font-size: 12px;
      }
          

}


    // @media screen and (max-width: 500px) {
    //     .order-main{
    //         display: grid;
    //         grid-template-columns: 1fr 1fr;
    //         // grid-gap: 30px 10px;
    //         grid-template-areas:
    //         "order-con order-con order-con order-con"
    //         "order-det order-det order-det order-det"
    //         "user-det user-det user-det user-det";
            
    //         }
    // }
    