<div ng-controller="home">
    <div>
        <div class="flex-container" id="photo">
            <div class="fullscreen">
                <img src="images/GB-plan-2.jpg" alt="GB-backgrand" class="img-responsive">
            </div>
        </div>
    </div>

    <!-- logos aria -->
    <div>
        <div id="logos" class="flex-container">

            <div class="flex-item hover-red">
                <a href="#" class="over"><img class="over" src="images/lainyan_logo.png" alt="לעניין" class="Plogos center-block" style="max-height: 65px"></a>
                <p class="over-logo">יום ראשון</br>ירושלים<br>
            </div>

            <div class="flex-item hover-red">
                <a href="#" class="over"><img class="over" src="images/meida_logo.png" alt="מידע לכל" class="Plogos center-block" style="max-height: 50px"></a>
                <p class="over-logo">יום שני</br>בית שמש</p>
            </div>

            <div class="flex-item hover-red">
                <a class="over" href="#"><img class="over" src="images/shavua_logo.png" alt="שבוע טוב" class="Plogos center-block" style="max-height: 65px"></a>
                <p class="over-logo">מוצאי שבת</br>ביתר עילית</p>
            </div>

            <div class="flex-item hover-red">
                <a href="#" class="over"><img class="over" src="images/emtza_logo.png" alt="אמצע השבוע" class="Plogos center-block" style="max-height: 50px"></a>
                <p class="over-logo">יום שלישי</br>ביתר עילית</p>
            </div>
        </div>
    </div>


    <!-- last papers aria -->
    <div class="flex-container">
        <div class="fullscreen gray text-center shlager-black">
            <h3>עיתונים אחרונים</h3>
        </div>
    </div>

    <div>
        <div class="flex-container">
            <div class="flex-item gray h-350 text-center">
                <a href="#/book?k=lainyan&n={{lastLaintan}}"><img src="public/papers/lainyan/{{lastLaintan}}/01.jpg" alt="לעניין" class="shlager-black paper_size"></a>
            </div>

            <div class="flex-item gray h-350 text-center">
                <a href="#/book?k=meida&n={{lastMaida}}"><img src="public/papers/meida/{{lastMaida}}/01.jpg" alt="מידע לכל" class="shlager-black paper_size"></a>
            </div>

            <div class="flex-item gray h-350 text-center">
                <a href="#/book?k=shavua&n={{lastSt}}"><img src="public/papers/shavua/{{lastSt}}/01.jpg" alt="אמצע השבוע" class="shlager-black paper_size"></a>
            </div>

            <div class="flex-item gray h-350 text-center">
                <a href="#/book?k=emtza&n={{lastEmtza}}"><img src="public/papers/emtza/{{lastEmtza}}/01.jpg" alt="שבוע טוב" class="shlager-black paper_size"></a>
            </div>
        </div>
    </div>

</div>