@font-face {
  font-family: 'Spoiler-Regular';
  src: url('../../fonts/Spoiler-Regular.woff') format('woff'), url('../fonts/Spoiler-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Spoiler-Bold';
  src: url('../../fonts/Spoiler-Bold.woff') format('woff'), url('../fonts/Spoiler-Bold.ttf') format('truetype');
}
li {
  display: flex;
  font-size: 20px;
  font-family: 'Spoiler-Regular';
}
li a {
  color: white;
  text-decoration: none;
}
li a:hover {
  color: #ec1f27;
  text-decoration: none;
}
.line {
  color: #ec1f27;
}
.photo {
  width: 100%;
  padding: 0;
}
.paper_size {
  max-width: 90%;
  max-height: 90%;
}
.hover-red {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 150px;
  background-color: black;
}
.hover-red:hover {
  min-height: 150px;
  background-color: #ec1f27;
  height: 100px;
}
.hover-red:hover img {
  display: none;
}
.hover-red:hover p {
  display: inline;
  text-align: center;
  font-family: 'Spoiler-Regular';
  margin: 0 auto;
}
#logos {
  text-align: center;
  line-height: 170%;
}
.Plogos {
  margin: 0 auto;
  max-height: 60px;
}
.over-logo {
  position: relative;
  top: 10px;
  min-height: 150px;
  color: white;
  display: none;
  font-family: 'Spoiler-Regular';
  font-size: 25px;
}
.gray {
  background-color: #dcd7d3;
}
.dark-gray {
  background-color: #404040;
}
.h-250 {
  height: 250px;
}
.h-100 {
  height: 100px;
}
.shlager-black {
  padding-top: 10px;
  font-family: 'Spoiler-Regular';
  color: black;
  font-size: 18px;
  text-align: center;
}
.Spoiler-Bold {
  font-family: 'Spoiler-Bold';
  color: black;
}
.shlager-white {
  font-family: 'Spoiler-Regular';
  color: white;
  font-size: 14px;
  text-align: right;
}
a {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  color: #ec1f27;
}
